.movie-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.loading {
  margin-right: auto;
  margin-left: auto;
  font-size: 2rem;
  color: white;
}
