.movie-card {
  width: 150px;
  background-color: rgb(0, 0, 0);
}

.movie-poster > img {
  width: 100%;
}

.movie-info {
  margin-left: 5px;
  color: #ddd;
}

.movie-info > p {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  color: #bbb;
  padding-bottom: 10px;
}
