.search-bar-form {
  margin: 10px 0;
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
}

.search-bar-form > form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.search-bar-form > form > input {
  width: 400px;
  margin-right: 10px;
  height: 100%;
  background-color: #929292;
  border: none;
  border-radius: 3px;
  font-size: 1.25rem;
  color: rgb(51, 51, 51);
  padding: 10px;
}

.search-bar-form > form > input::placeholder {
  color: rgb(202, 202, 202);
}

.search-bar-form > form > button {
  max-height: 100%;
  background-color: red;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  border: transparent;
  border-radius: 3px;
}
