* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #6b6b6b;
}

main {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  height: 90%;
}
